# Global
AWS_REGION=ap-south-1
ENVIRONMENT=dev

# Databases
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=iwos
POSTGRES_PASSWORD=iwos_secret

# Cache
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=iwos_secret

# Messaging
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SCHEMA_REGISTRY_URL=http://localhost:8081

# Search
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200

# DynamoDB Local
DYNAMODB_ENDPOINT=http://localhost:8000

# Object Storage / Lake
S3_BUCKET_RAW_EVENTS=iwos-raw-events-dev
S3_BUCKET_FEATURES=iwos-features-dev
S3_BUCKET_ARTIFACTS=iwos-artifacts-dev

# Secrets placeholders
JWT_SECRET=
PAYMENT_PROVIDER_API_KEY=
PAYMENT_PROVIDER_WEBHOOK_SECRET=
NOTIFICATION_PROVIDER_API_KEY=

# Observability
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
PROMETHEUS_SCRAPE_ENABLED=true
